

@font-face {
    font-family: "teka";
    src: url("teka-reg.woff") format('woff');
}

@font-face {
    font-family: "teka";
    src: url("teka-bold.woff") format('woff');
    font-weight: bold;
}
html, body {
    color: var(--text);
    background-color: var(--background);
    font-family: teka;
}

button {
    cursor: pointer;
}

#header {
    background-color: var(--title);
    color: var(--background);

    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding-left: calc(24px + 1rem);
    padding-right: 100px;
}

#header > * {
    margin: 0px;
}

p > a {
    font-weight: bold;
    text-decoration: underline;
}

p > img {
    max-width: 800px;
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    height: 48px;
    padding-bottom: 6px;
}

#main {
    display: flex;
    height: 100dvh;
    width: 100vw;
}

#navbar {
    padding: 1rem 20px 80px;

    max-height: 100%;
    overflow-y: scroll;

    font-size: 0.875rem;
    line-height: 1.25rem;

    background-color: var(--secondary);
}

#navbar > h1:first-child {
    display: none;
}



#navbar > * {
    margin: 0px;
}

#navbar > ul > li {
    padding: 0rem 0rem 0rem 0.875rem;
    margin: 0px;
}



#navbar > ul {
    padding: 0rem 0.375rem 0rem 1.4rem;
    margin: 0px;
}

#navbar > h2 {
    padding: 1.5rem 0.375rem 0.375rem 1.25rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    line-height: 1rem;
}

#page {
    padding-left: 20px;
    padding-right: 80px;
    overflow-y: scroll;
    padding-bottom: 64px;
}

#page > h2 {
    margin-top: 36px;
}

#navbar > li, #navbar > ul {
    user-select: none;
}


li {
    margin-top: 6px;
}

#nv {
    overflow: scroll;
}

ul {
    list-style: none;
    font-style: normal;
}

#page > ul {
    list-style: disc;
}

a.active {
    font-weight: bold;
    /*color: var(--primary);*/
    background-color: var(--primary);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
}

.dropdown {
    cursor: pointer;
}

li.dropdown > ul {
    display: none;
}

li.dropdown.open > ul {
    display: block;
}

.dropdown.open {
    font-style: italic;
}

#navbar > ul > li > a:hover,
#navbar > ul > li > ul > li > a:hover {
    background-color: var(--background);
    transition: background-color 0.3s ease-in-out;
}

code {
    font-weight: bold;
    position: relative;
}

code > button {
    position: absolute;
    top: 12px;
    right: 12px;
}

.copy-button {
    background-color: var(--background);
    color: var(--text);
    border: none;
    padding: 4px 8px;
}


.copy-button::before {
    content: 'copy'; /* Unicode character for clipboard icon */
    font-size: 16px;
}

pre > code {
    font-weight: normal;
}

#navbar > ul > li > a,
#navbar > ul > li > ul > li > a{
    width: 100%;
    display: inline-block;

    padding: 0.375rem 0.375rem 0.375rem 0.375rem;
    margin: 0px;
}



.hljs {
    background-color: var(--secondary) !important;
}

.hint {
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;

    margin: 2rem auto;
    max-width: 80%;
}

