
#menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 1rem;

    background-color: var(--background);
    border: none;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 32px;
    color: var(--text);
    width: min-content;
}



@media only screen and (max-width: 600px) {


    #menu {
        display: block;


    }

    #main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 80px 1fr ;
        grid-template-areas:
            "header header"
            "page page ";
    }

    #navbar {
        position: absolute;
        top: 5rem;
        left: 0;
        width: 100vw;
        height: 0vh;
        grid-area: nav;
        transition: height 1s;

        padding-top: 0px;

        overflow-y: hidden;
    }
    #navbar.open {
        height: calc(100vh - 8rem);
        overflow-y: scroll;
        padding-bottom: 160px;
    }
    #navbar.open > ul:nth-child(2) {
        margin-top: 40px;
    }

    #page {
        grid-area: page;

        padding-left: 0px;
        padding-right: 0px;

        margin-left: auto;
        margin-right: auto;

        width: calc(100% - (24px + 1rem) * 2);
    }

    #header {
        grid-area: header;
    }

}

@media only screen and (min-width: 600px) {

    #main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 80px 1fr ;
        grid-template-areas:
            "header header"
            "nav page ";
    }

    #navbar {
        display: block;
        grid-area: nav;
    }

    #page {
        grid-area: page;
    }

    #header {
        grid-area: header;
    }

}


