#main {
    display: flex;
    height: 100vh;
    width: 100%;
}

#navbar {
    flex: 0 0 25%;
    border-right: solid black 2px;
    padding-left: 20px;
}

#nv > ul {
    padding-left: 0px;
}

#page {
    flex: 1;
    padding-left: 20px;
    padding-right: 40px;
    overflow-y: scroll;
    padding-bottom: 64px;
}

#navbar > li, ul {
    user-select: none;
}

li {
    margin-top: 6px;
}

#nv {
    overflow: scroll;
}

ul {
    list-style: none;
    font-style: normal;
}

#page > ul {
    list-style: disc;
}

a.active {
    font-weight: bold;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.dropdown {
    cursor: pointer;
}

li.dropdown > ul {
    display: none;
}

li.dropdown.open > ul {
    display: block;
}

.dropdown.open {
    font-style: italic;
}

/*code {*/
/*    background-color: lightgray;*/
/*    border: 1px inset #f2f2f2;*/

/*}*/